body {
    font-family: 'Arial', sans-serif;
    background-color: #5f769c;
    color: #333;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #222;
}

.hex-color {
    color: #4CAF50;
    font-style: italic;
    text-align: center;
}

.rgb-color {
    color: rgb(255, 99, 71);
    font-style: normal;
    font-weight: 600;
    text-align: center;
}

.hsl-color {
    color: hsl(240, 100%, 50%);
    font-style: oblique;
    font-weight: 700;
    text-align: center;
}