#qwe{
    text-align: left;
    color: rgb(0, 60, 255);
}
#rty{
    text-align: center;
    color: blueviolet;
}
#uiop{
    text-align: right;
    color: midnightblue;
}
h1{
    text-align: center;
}
body{
    background-color: blanchedalmond;
}